<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/navigation.css">
<link rel="stylesheet" href="/css/card.css">
<link rel="stylesheet" href="/css/gallery.css">

</head>

<body>

    <%- include('../includes/navigation.ejs') %>

    <!-- section-jumbotron -->

    <section class="section-jumbotron">
        <div class="jumbotron--img">
            <div class="group">
                <h1 class="size-1">Przepyszne ciasta dla Ciebie</h1>
                <p class="lead">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
                    atque obcaecati asperiores possimus ducimus delectus.
                </p>
                <hr class="my-4" />
                <a href="/products" class="btn btn--first" role="button">Zobacz Ofertę</a>
            </div>
            <div class='img-box'>
                <img src="/assets/background8.jpg" alt="" class='img--cover'>
            </div>
    </section>

    <section class="cards">
        <!-- card--1 -->
        <a href="#" class="card-btn">
            <article class="card card-1">
                <div class="card__img"></div>

                <div class="card__info">
                    <span class="card__category">Torty</span>
                    <h3 class="card__title size-3">Torty Okolicznościowe</h3>
                    <p class="card__text lead">
                        Torty na komunie, Śluby, Przyjęcia
                    </p>
                    <span class="card__author">Wypieki Marzenki</span>
                </div>
            </article>
        </a>

        <!-- card-2 -->
        <a href="#" class="card-btn">
            <article class="card card-2">
                <div class="card__img"></div>

                <div class="card__info">
                    <span class="card__category">Bezy</span>
                    <h3 class="card__title size-3">Bezowe Rozkosze</h3>
                    <p class="card__text lead">
                        Najlepsze ciasta bezowe, Małe bziki
                    </p>
                    <span class="card__author">Wypieki Marzenki</span>
                </div>
            </article>
        </a>

        <!-- card-3 -->
        <a href="#" class="card-btn">
            <article class="card card-3">
                <div class="card__img"></div>

                <div class="card__info">
                    <span class="card__category">Ciasta</span>
                    <h3 class="card__title size-3">Ciasta Domowe</h3>
                    <p class="card__text lead">
                        Ciasta jak u babci
                    </p>
                    <span class="card__author">Wypieki Marzenki</span>
                </div>
            </article>
        </a>

        <!-- card-4 -->
        <a href="#" class="card-btn">
            <article class="card card-4">
                <div class="card__img"></div>

                <div class="card__info">
                    <span class="card__category">Ciasta</span>
                    <h3 class="card__title size-3">Ciasta Domowe</h3>
                    <p class="card__text lead">
                        Ciasta jak u babci
                    </p>
                    <span class="card__author">Wypieki Marzenki</span>
                </div>
            </article>
        </a>
    </section>

    <section class="section-gallery">
        <h1>Galeria</h1>
        <div class="gallery">
            <img src="/assets/ciasto3.jpg" />
            <img src="/assets/background2.jpg" />
            <img src="/assets/talerz3.jpg" />
            <img src="/assets/talerz1.jpg" />
            <img src="/assets/talerz2.jpg" />
            <img src="/assets/cake2.jpg" />
            <img src="/assets/background4.jpg" />
            <img src="/assets/gora3.jpg" />
        </div>
    </section>

    <%- include('../includes/contact.ejs') %>

    <%- include('../includes/footer.ejs') %>


    <!-- section-offer-preview -->
    <!-- <div class="section-offer-preview grid">
        <article class="card product-item">
            <header class="card__header">
                <h1 class="product__title">
                    Ciata Bezowe
                </h1>
            </header>
            <div class="card__image">
                <img src="/assets/beza1.jpg" alt="">
            </div>
            <div class="card__content">
                <p class="product__description">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur, hic. Autem officia
                    reprehenderit quam deleniti, corporis corrupti error delectus voluptatibus tempore id neque impedit
                    facere veniam beatae alias eaque aut.
                </p>
            </div>
            <div class="card__actions">
                <a href="/products" class="btn">Szczegóły</a>
            </div>
        </article>
        <article class="card product-item">
            <header class="card__header">
                <h1 class="product__title">
                    Torty Okolicznościowe
                </h1>
            </header>
            <div class="card__image">
                <img src="/assets/ciasto3.jpg" alt="">
            </div>
            <div class="card__content">
                <p class="product__description">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur, hic. Autem officia
                    reprehenderit quam deleniti, corporis corrupti error delectus voluptatibus tempore id neque impedit
                    facere veniam beatae alias eaque aut.
                </p>
            </div>
            <div class="card__actions">
                <a href="/products" class="btn">Szczegóły</a>
            </div>
        </article>
        <article class="card product-item">
            <header class="card__header">
                <h1 class="product__title">
                    Ciasta Na Zamówienie
                </h1>
            </header>
            <div class="card__image">
                <img src="/assets/talerz3.jpg" alt="">
            </div>
            <div class="card__content">
                <p class="product__description">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur, hic. Autem officia
                    reprehenderit quam deleniti, corporis corrupti error delectus voluptatibus tempore id neque impedit
                    facere veniam beatae alias eaque aut.
                </p>
            </div>
            <div class="card__actions">
                <a href="/products" class="btn">Szczegóły</a>
            </div>
        </article>
    </div> -->


    <%- include('../includes/end.ejs') %>